<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CSS Grid Example</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>Simple grid example</h1>

        <article class="container">
            <p>One is less than two</p>
            <p>Two</p>
            <p>Three</p>
            <p>Four</p>
            <aside>
                <ul>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                </ul>
            </aside>
            <p>Six</p>
            <p>Seven</p>
            <p>Eight</p>
            <p>Nine</p>
            <p>Ten</p>
            <p>Eleven</p>
            <p>Twelve</p>
            <p>Thirteen</p>
            <p>Fourteen</p>
        </article>
    </body>
</html>