<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>An example of bookmarks</title>
    </head>
    <body>
        <nav>
            <!-- open links in a new tab -->
            <p><a href="#canada">Canada</a></p>
            <p><a href="#usa" target="_blank">USA</a></p>
            <p><a href="#mexico" target="_blank">Mexico</a></p>
        </nav>
        <article>
            <h2 id="canada">Canada</h2>
            <p>When Europeans explored Canada they found all regions occupied by native peoples they called
                Indians, because the first explorers thought they had reached the East Indies. The native people lived off the
                land, some by hunting and gathering, others by raising crops. The Huron-Wendat of the Great Lakes region, like
                the Iroquois, were farmers and hunters. The Cree and Dene of the Northwest were hunter-gatherers. The Sioux were
                nomadic, following the bison (buffalo) herd. The Inuit lived off Arctic wildlife. West Coast natives preserved
                fish by drying and smoking. Warfare was common among Aboriginal groups as they competed for land, resources and
                prestige.</p>
            <p>The 1989 Canada-US Free Trade Agreement and the 1994 North American Free Trade Agreement (which
                includes Mexico) dramatically increased trade and economic integration between the US and Canada. Canada and the
                US enjoy the world’s most comprehensive bilateral trade and investment relationship, with goods and services
                trade totaling more than $680 billion in 2017, and two-way investment stocks of more than $800 billion. Over
                three-fourths of Canada’s merchandise exports are destined for the US each year. Canada is the largest foreign
                supplier of energy to the US, including oil, natural gas, and electric power, and a top source of US uranium
                imports.</p>
            <p>In 1951 the Royal Commission on National Development in the Arts, Letters, and Sciences
                issued a report (what became known as the Massey Report) warning that Canadian culture had become invisible,
                nearly indistinguishable from that of the neighbouring United States, owing to years of “American invasion by
                film, radio, and periodical.” Henceforth, the government declared that Canada’s mass media would be required to
                encourage Canadian content—books, television programs, magazines, and other locally made cultural products. By
                most accounts, the policy has been quite successful, though that success has largely been the result of
                individual—not federal—efforts.</p>
        </article>
        <article>
            <h2 id="usa">United States of America</h2>
            <p>The prehistory of the United States started with the arrival of Native Americans before 15,000
                BC. Numerous indigenous cultures formed, and many disappeared before 1500. The arrival of Christopher Columbus
                in the year 1492 started the European colonization of the Americas. Most colonies were formed after 1600, and
                the early records and writings of John Winthrop make the United States the first nation whose most distant
                origins are fully recorded.[1] By the 1760s, the thirteen British colonies contained 2.5 million people along
                the Atlantic Coast east of the Appalachian Mountains. After defeating France, the British government imposed a
                series of taxes, including the Stamp Act of 1765, rejecting the colonists' constitutional argument that new
                taxes needed their approval. Resistance to these taxes, especially the Boston Tea Party in 1773, led to
                Parliament issuing punitive laws designed to end self-government in Massachusetts. </p>
            <p>With a total population of more than 325 million people, the United States is the third most
                populous country in the world behind India and China. Repeated waves of immigration have resulted in an
                ethnically-diverse population. As in many multi-ethnical societies, racial discrimination has been a problem in
                the United States. The election of Barack Obama as the first black president of the U.S. marked a historical
                milestone in the movement towards equality, but race and ethnicity still remain an issue. </p>
            <p>The United States is sometimes described as a "melting pot" in which different cultures have
                contributed their own distinct "flavors" to American culture. Just as cultures from around the world have
                influenced American culture, today American culture influences the world. The term Western culture often refers
                broadly to the cultures of the United States and Europe.</p>
        </article>
        <article>
            <h2 id="mexico">Mexico</h2>
            <p>The Spanish conquest of Mexico that toppled the Aztec Empire in 1521 with the aid of
                indigenous allies, created a political entity known as New Spain, now usually called "colonial Mexico." The
                Spanish victories were followed by expanded regions into the Spanish Empire. The Spanish crown established the
                Viceroyalty of New Spain with the site of the Aztec capital Tenochtitlan becoming Mexico City. Mexico City
                became and remains the center of political rule. During the colonial era, Mexico's indigenous culture mixed with
                European culture, producing a hybrid culture perhaps best seen in the local use of language: the country is both
                the most populous Spanish-speaking country in the world and home to the largest number of Native American
                language speakers in North America. The legacy of three centuries of Spanish rule (1521-1821) is a country with
                a Spanish-speaking, Roman Catholic, and largely Western culture.</p>
            <p>With a population of about 126 million in 2019,[3] Mexico is the 10th most populated country in
                the world. It is the most populous Spanish-speaking country and the third-most populous in the Americas after
                the United States and Brazil.[4] Throughout most of the twentieth century Mexico's population was characterized
                by rapid growth. Although this tendency has been reversed and average annual population growth over the last
                five years was less than 1%, the demographic transition is still in progress, and Mexico still has a large
                cohort of youths. The most populous city in the country is the capital, Mexico City, with a population of 8.9
                million (2016), and its metropolitan area is also the most populated with 20.1 million (2010).</p>
            <p>"Much of Mexican culture revolves around religious values and the church, as well as the
                concept of family and inclusiveness," said Talia Wagner, a marriage and family therapist in Los Angeles. Around
                82 percent of Mexicans identify themselves as Catholic, according to the CIA, although many have incorporated
                pre-Hispanic Mayan elements as part of their faith. Christian denominations represented include Presbyterians,
                Jehovah's Witnesses, Seventh-Day Adventists, Mormons, Lutherans, Methodists, Baptists and Anglicans. There are
                also small communities of Muslims, Jews and Buddhists. </p>
        </article>
    </body>
</html>