span {
    display: inline-block;
    background-color: beige;
    border: 1px solid black;
    margin: 10px;
}

p {
    margin: 10px 6px;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;

    margin: 10px 6px;
    padding: 4px;
    border: 1px solid black;
}