/* nav elements that are children of headers */
header > nav {
    background-color: #4a412a;
}

/* aside elements that are descendents of section elements */
section aside {
    font-family: "Book Antiqua";
    font-size: 0.7em;
}

section#play2 h1 {
     color: #1100ff;
}

section.playbill {
    background-color: rgba(255, 242, 0, 0.76);
    border-top: 2px solid gray;
}










