@charset "utf-8";

/*
   Styles for lists
   Author: Josh Archer
   Filename: lists.css
   Date: 7/13/2020
 */

ul {
    font-family: "Times New Roman", Times, serif;
    color: saddlebrown;
}

li {
    font-size: 1.1em;
    color: saddlebrown;
}

/* select elements with the odd class */
.other {
    font-weight: bold;
    text-transform: uppercase;
}














