table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
}

thead tr {
    background-color: #c0c8d0;
}

tr:nth-of-type(even) {
    background-color: #e5ecf8;
}