<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Paragraphs</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum elit felis, ac placerat justo elementum
            tristique. Pellentesque pharetra mi in sodales bibendum. Nulla enim mi, lacinia ac dolor laoreet, ultrices tristique
            est. Donec bibendum urna id ipsum rutrum ultricies. In condimentum id leo eget lacinia. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Donec bibendum enim eu magna
            rutrum, quis blandit nibh laoreet.</p>

        <p>Integer condimentum mi ornare lorem finibus scelerisque. Donec nec sem libero. Praesent vel lorem tellus.
            Pellentesque eget neque luctus, luctus tortor vitae, fermentum dui. Donec elementum non purus eu viverra. Vestibulum
            tempor velit a libero imperdiet, vel gravida lorem laoreet. Pellentesque viverra imperdiet turpis nec semper.
            Aliquam facilisis mi magna, et condimentum tortor accumsan posuere. Cras dolor nulla, imperdiet sit amet nulla ut,
            mattis hendrerit leo. Mauris mattis iaculis turpis, vitae eleifend ex maximus sed. Maecenas ipsum nisl, malesuada et
            consectetur vel, accumsan a tellus.</p>

        <p>Fusce tincidunt urna et velit ultricies, sit amet fermentum enim euismod. In cursus pharetra neque id pharetra. Duis
            porta non felis at maximus. Nunc gravida sed felis sed dapibus. Curabitur sollicitudin nisi mi, eget consectetur
            nunc sagittis eget. Sed fringilla faucibus lectus, at bibendum dui commodo sed. Donec tincidunt sem eget leo laoreet
            ultrices. Mauris sed lobortis sapien. Mauris viverra nibh tortor, sit amet fringilla sapien tincidunt eget. Nam
            rutrum pretium pretium. Nam ultricies malesuada massa maximus ullamcorper.</p>

        <p>Sed fermentum rutrum libero, at viverra metus luctus eu. Sed rhoncus venenatis libero. Mauris aliquam ante felis, sit
            amet consequat nibh viverra vel. Fusce non lobortis dolor, at ultricies eros. Curabitur ullamcorper porttitor arcu,
            consequat tempus elit tincidunt a. Proin sodales sit amet massa vitae aliquet. Pellentesque maximus augue ac
            vulputate eleifend. Sed lacinia mollis venenatis. Duis bibendum ullamcorper tristique. Quisque aliquam nisl in orci
            rhoncus tempor. Nulla ac eros ultrices, semper lacus ac, auctor lacus. In ut lacus non ex luctus tristique.

        <p>Pellentesque pretium hendrerit tortor facilisis faucibus. Suspendisse sagittis maximus augue vel gravida. Sed in
            felis velit. Aliquam ultricies vitae velit convallis rhoncus. Donec sollicitudin est semper purus faucibus ornare.
            Ut rutrum faucibus aliquet. Aenean egestas mauris suscipit enim bibendum iaculis. Vivamus ornare quam purus, et
            dictum mi dapibus malesuada.</p>
    </body>
</html>