body {
    font-family: "Bookman Old Style", serif;
}

aside {
    color: darkblue;
    font-weight: bold;
}

aside footer {
    font-weight: normal;
}

footer {
    font-style: italic;
}

body {
    background-color: beige;
    color: #7f87ff;
    font-size: 2em;
}