<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid layout</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/grid.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="row">
        <div class="col-33">
            <nav>
                <ul>
                    <li><a href="">Introduction to CSS layout</a></li>
                    <li><a href="">Normal Flow</a></li>
                    <li><a href="">Flexbox</a></li>
                    <li><a href="">Grids</a></li>
                    <li><a href="">Floats</a></li>
                    <li><a href="">Positioning</a></li>
                    <li><a href="">Legacy Layout Methods</a></li>
                    <li><a href="">Supporting Older Browsers</a></li>
                    <li><a href="">Fundamental Layout Comprehension</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-66">
            <section>
                <h1>Guides</h1>

                <p>These articles will provide instruction on the fundamental
                    layout tools and techniques available in CSS. At the end
                    of the lessons is an assessment to help you check your
                    understanding of layout methods, by laying out a webpage.
                </p>

                <div class="row">
                    <div class="col-50">
                        <a href="">Introduction to CSS layout</a>
                        <p>This article will recap some of the CSS layout features
                            we've already touched upon in previous modules — such
                            as different display values — and introduce some of the
                            concepts we'll be covering throughout this module.
                        </p>
                    </div>
                    <div class="col-50">
                        <a href="">Normal Flow</a>
                        <p>Elements on webpages lay themselves out according to
                            normal flow - until we do something to change that.
                            This article explains the basics of normal flow as a
                            grounding for learning how to change it.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-50">
                        <a href="">Flexbox</a>
                        <p>Flexbox is a one-dimensional layout method for laying
                            out items in rows or columns. Items flex to fill additional
                            space and shrink to fit into smaller spaces. This
                            article explains all the fundamentals.
                        </p>
                    </div>
                    <div class="col-50">
                        <a href="">Grids</a>
                        <p>CSS Grid Layout is a two-dimensional layout system for
                            the web. It lets you lay content out in rows and columns,
                            and has many feature that make building complex layouts
                            straightforward. This article will give you all you need
                            to know to get started with page layout.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-50">
                        <a href="">Floats</a>
                        <p>Originally for floating images inside blocks of text,
                            the float property became one of the most commonly used
                            tools for creating multiple column layouts on webpages.
                            With the advent of Flexbox and Grid it has now returned
                            to its original purpose, as this article explains.
                        </p>
                    </div>
                    <div class="col-50">
                        <a href="">Positioning</a>
                        <p>Positioning allows you to take elements out of the normal
                            document layout flow, and make them behave differently,
                            for example sitting on top of one another, or always
                            remaining in the same place inside the browser viewport.
                            This article explains the different position values,
                            and how to use them.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-50">
                        <a href="">Multiple-column layout</a>
                        <p>The multiple-column layout specification gives you a
                            method of laying content out in columns, as you might
                            see in a newspaper. This article explains how to use
                            this feature.
                        </p>
                    </div>
                    <div class="col-50">
                        <a href="">Legacy layout methods</a>
                        <p>Grid systems are a very common feature used in CSS layouts,
                            and before CSS Grid Layout they tended to be implemented
                            using floats or other layout features. You imagine your
                            layout as a set number of columns (e.g. 4, 6, or 12), and
                            then fit your content columns inside these imaginary
                            columns. In this article we'll explore how these older
                            methods work, in order that you understand how they were
                            used if you work on an older project.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-50">
                        <a href="">Supporting older browsers</a>
                        <p>In this module we recommend using Flexbox and Grid as the
                            main layout methods for your designs. However there will
                            be visitors to your site who use older browsers, or browsers
                            which do not support the methods you have used. This will
                            always be the case on the web — as new features are developed,
                            different browsers will prioritise different things.
                            This article explains how to use modern web techniques
                            without locking out users of older technology.
                        </p>
                    </div>
                    <div class="col-50">
                        <a href="">Fundamental Layout Comprehension</a>
                        <p>An assessment to test your knowledge of different layout
                            methods by laying out a webpage.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>