body {
    font-size: 0.8em;
}

img {
    width: 150px;
    margin: 6px;
}

h1 {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

div {
    float: left;
    width: 33%;
    padding: 4px;
    margin: 4px;
    background-color: #87bcbe;
    border: 2px solid black;
}

article {
    background-color: #d1dbe2;
}

img {
    width: 100px;
    margin: 6px;
}

#explorers img {
    float: right;
}

#visitors img {
    float: left;
}

p {
    padding: 3px;
}

p:nth-of-type(2) {
    clear: both;
}












