/* styles for all devices */
body {
    background-color: cornsilk;
}

h1 {
    border-top: 2px solid rosybrown;
    border-bottom: 2px solid rosybrown;
    padding: 8px 4px;
    font-family: Baskerville Old Face, serif;
    font-size: 2.0em;
    background-color: bisque;
    color: #8d5152;
    line-height: 1.5em;
}

p {
    margin: 30px;
}

/* styles for mobile devices */
@media screen and (max-width: 480px) {
    h1 {
        background-color: #8d5152;
        color: bisque;
        border-top: 2px solid bisque;
        border-bottom: 2px solid bisque;
        font-size: 1.5em;
        text-align: center;
    }

    body {
        background-color: #fdcb9f;
    }

    p {
        margin: 10px;
    }

    img {
        display: none;
    }
}

/* styles for tablet devices */
@media screen and (min-width: 481px) {
    section {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }

    p {
        border: 2px solid rosybrown;
        padding: 6px;
        margin: 0;
    }

    img {
        width: 100%;
        border: 2px solid rosybrown;
    }
}

/* styles for desktop devices */
@media screen and (min-width: 960px) {
    section {
        display: block;
    }

    img {
        float: right;
        width: 30%;
    }

    p {
        border: none;
        padding: 6px;
        margin: 0;
    }
}












