<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Working with grid template areas</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Jones Antique Shop</h1>
            </header>

            <article id="jewelry">
                <h2>Jewelry</h2>
                <p>Duis nulla velit, efficitur vel purus ullamcorper, varius ultrices metus. Praesent id interdum lorem, vel tincidunt
                    odio.</p>
            </article>

            <article id="clocks">
                <h2>Clocks</h2>
                <p>Vestibulum sodales pretium leo id commodo. Nullam non arcu eu justo ultrices varius. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. In dui nibh, volutpat at pretium et, elementum
                    lacinia lacus.
                </p>
            </article>

            <article id="clothes">
                <h2>Clothes</h2>
                <p>Phasellus dictum erat odio, vitae cursus metus ultricies euismod. Cras ut suscipit eros. Integer sed fermentum
                    metus. Nulla ultricies rhoncus dolor sed finibus. Donec pretium lacus non tortor dignissim auctor iaculis eget sem.
                    </p>
            </article>

            <article id="furniture">
                <h2>Furniture</h2>
                <img src="furniture.jpg" alt="Vintage furniture">
                <p>Vestibulum sodales pretium leo id commodo. Nullam non arcu eu justo ultrices varius. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. In dui nibh, volutpat at pretium et, elementum
                    lacinia lacus. Quisque sodales a augue nec porta. </p>
            </article>

            <article id="books">
                <h2>Books</h2>
                <img src="books.jpg" alt="Vintage books">
                <p>Vestibulum sodales pretium leo id commodo. Nullam non arcu eu justo ultrices varius. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. In dui nibh, volutpat at pretium et, elementum
                    lacinia lacus. Quisque sodales a augue nec porta. </p>
            </article>

            <footer>
                <p>Please visit us at:
                <span>
                    1201 Tangerine Ave. Tacoma, WA 98999
                </span>
                </p>
            </footer>

            <aside>
                More info...
            </aside>
        </div>
    </body>
</html>